<footer class="footer">
      <div class="outer-footer">
        <div>
          <a href="#"><i class="fa-brands fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <h4>This website is made at LeWagon <i class="fa-solid fa-paw"></i></h4>
      </div>
</footer>
