<div class="container-small-profile">
  <div class="card-small-profile">
    <div class="gradient">
    </div>
    <div class="small-profile-img">
      <img src="https://ca.slack-edge.com/T02NE0241-U038STG9291-d68736458302-512" alt="user">
    </div>
    <div class="content-small-profile">
      <div class="top">
        <h1>Michelle Barrie</h1>
        <h1>Setagaya, Gotonda</h1>
        <h2>3000円/hour</h2>
        <h2>July 20, 10am ~ 12pm</h2>
      </div>
      <div class="bottom">
        <a href="#">Cancel</a>
        <a class="pending"href="#">Pending</a>
      </div>
    </div>
  </div>

  <div class="card-small-profile">
    <div class="gradient">
    </div>
    <div class="small-profile-img">
      <img src="https://ca.slack-edge.com/T02NE0241-U038STG9291-d68736458302-512" alt="user">
    </div>
    <div class="content-small-profile">
      <div class="top">
        <h1>Michelle Barrie</h1>
        <h1>Setagaya, Gotonda</h1>
        <h2>3000円/hour</h2>
        <h2>July 20, 10am ~ 12pm</h2>
      </div>
      <div class="bottom">
        <a href="#">Cancel</a>
        <a class="pending"href="#">Pending</a>
      </div>
    </div>
  </div>

  <div class="card-small-profile">
    <div class="gradient">
    </div>
    <div class="small-profile-img">
      <img src="https://ca.slack-edge.com/T02NE0241-U038STG9291-d68736458302-512" alt="user">
    </div>
    <div class="content-small-profile">
      <div class="top">
        <h1>Michelle Barrie</h1>
        <h1>Setagaya, Gotonda</h1>
        <h2>3000円/hour</h2>
        <h2>July 20, 10am ~ 12pm</h2>
      </div>
      <div class="bottom">
        <a href="#">Cancel</a>
        <a class="pending"href="#">Pending</a>
      </div>
    </div>
  </div>
</div>
