.container-bookings {
  // position: relative;
  // width: 990px;
  // padding-left: 72px;
  // display: flex;
  // justify-content: center;
  // align-items: end;
  // flex-wrap: wrap;
  // margin: auto;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-column-gap: 64px;
  // grid-row-gap: 10px;

  position: relative;
    width: 100%;
    padding-left: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 48px 72px;
    margin-top: 24px;
}

.cards-bookings {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  padding-left: 100px;
}

.container-bookings .card-bookings {
  position: relative;
  width: 540px;
  height: 248px;
  background: #fff;
  margin: 20px;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.5s;
  .content-bookings{
    position: absolute;
    padding: 20px;
    left: 148px;
    margin: auto;
    font-family: helvetica;
    place-items: top;

    top: 4%;
    width: 71%;
    text-align: top;

    h1 {
      font-family: helvetica;
      font-weight: bold;
      font-size: 24px;
      margin-top: -7px;
    }

    h2 {
      font-family: helvetica;
      font-size: 20px;
      margin-top: -7px;
    }

    .pending {
      position: relative;
      display: inline-block;
      padding: 10px 40px;
      background: rgb(233, 233, 233);
      border: 1px solid #D5A021;;
      color: rgb(231, 139, 0);
      border-radius: 40px;
      text-decoration: none;
    }
    .pending:hover {
      position: relative;
      display: inline-block;
      padding: 10px 40px;
      background: rgb(211, 110, 9);
      color: #fff;
      border-radius: 40px;
      text-decoration: none;
      transition: .3s;
    }
  }
}

.container-bookings .card-bookings .gradient {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  // background-image: linear-gradient(180deg, rgb(231, 139, 0) 0%, rgba(255,184,91,1) 28%);
  background-image: linear-gradient(to right, rgb(244, 186, 112) 0%, rgb(231, 139, 0) 28%);
  clip-path: circle(148px at 0 120px);
  text-align: center;
  h1 {
   color: #fff;
   font-size: 32px;
   font-weight: bold;
   font-family: helvetica;
  }
  h2 {
  color: #fff;
  font-size: 24px;
  margin-top: -16px;
  font-family: helvetica;
  }
}

.price{
  padding-top: 90px;
}

.bookings-img {
  width: 10em;
  height: 10em;
  margin: -13em auto 0 0em;
  border-radius: 50%;
  background-image: linear-gradient(0deg, rgb(244, 186, 112) 0%, rgb(231, 139, 0) 28%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  transform: translateX(-50%);
  img {
    width: 90%;
    height: 90%;
    border-radius: inherit;
  }
}

.bookings-status {
  margin: -11em auto 0 28em;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}
