.dogsittings-search-form {
  text-align: center;
}

.dogsittings-search {
  flex: 0 0 auto;
  width: 32%;
  border-radius: 24px;
  padding: 8px;
  padding-left: 16px;
}

.search-label {
  h1 {
    font-family: Helvetica;
    text-align: center;
    padding-top: 1em;
    color: #fff;
    font-weight: bold;
  }
}
