html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.outer-footer {
  padding: 10px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: right;
  display: flex;
  justify-content: space-between;
  color: Black;
  font-size: 18px;
  background-image: linear-gradient(to left, rgb(231, 139, 0), rgb(244, 186, 112));
  h4 {
    font-family: Helvetica;
    font-weight: bold;
    margin-bottom: 0rem;
  }
  i {
    font-size: 30px;
  }
  a {
    color: Black;
  }

  a:hover {
    color: rgb(231, 139, 0);
    transition: .3s
  }
}
